@font-face{
	font-family: 'liquid';
	src: url(looks/liquid.ttf);
}

@font-face{
	font-family: 'roboto';
	src: url(looks/roboto.ttf);
}

html , body{
	height: 100%;
}

html {
	cursor:url(looks/banana.gif),url(looks/banana.ani),auto;
}

body {
	background-color: #B2E8E8; 
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'roboto';
}	


header {
	margin:auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

header::after{
	content: "";
	background-image: url(http://ramayoga.org/wp-content/uploads/2015/07/galaxy-wallpapers-10.jpg);
	background-position: center top;
	opacity: .8;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1; 
}

#txtHeader {
	text-align: center;
	color: white;
	text-shadow: 1px 2px 4px black;
}

#txtHeader h1 {
	font-family:'liquid';
	font-size: 300%;
}

.preguntas {
	color: #4B219E;
}


.preguntas ul{
	color: 	#484D6D;
	font-style: italic;
}

.problemas {
	color: #4B219E;
	font-weight: bold;
}

h1 {
	color:#FF6F00;
	text-shadow: 14px 14px 2px #A000F7, -15px -3px 2px #3BFF00, 8px -12px 2px #003BFF;
	-webkit-text-stroke: 1px black;
}

h2 {
	text-align: center;
	color: #2A17B1;
	font-family: liquid;
	text-shadow: 1px 1px 2px white;
}

.cuerpo {
	margin-top: 50%;
	margin-bottom: 10%;
	font-size: 120%;
}

footer{
	height: 5%;
	width: 100%;
	position:fixed;
   	right: 0;
   	top: 96%;
   	bottom:0;
}

footer a{
	position: absolute;
	right: 5%;
	color: orange;
}

a{
	color: #5FCD04;
	text-shadow:1px 1px 3px black;
}

a:visited{
	color:#2D3956;
}

a:hover{
	color: white;
    text-shadow:0 0 3px black;
}

footer::after{
	content: "";
	background-image: url(http://ramayoga.org/wp-content/uploads/2015/07/galaxy-wallpapers-10.jpg);
	opacity: .65;
	position: fixed;
	top: 97%;
	right: 0;
	left: 0;
	bottom:0;
	z-index: -1;
}

button {
	width:14%;
	height:25px;
	display:inline-block;
	font-family:'roboto';
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	text-shadow:1px 1px 0px #07526e;
	padding-top:6px;
	margin-left:43%;
	margin-right:43%;
	/*left:8px;*/
	position:relative;
	cursor:pointer;
	border: none;
	background: #109bce;
	background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
	border-radius: 2px;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 4px 5px #999;
}

button:hover{
	text-shadow: 0px 0px 2px black;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 4px 5px #999, 0px 0px 2px black;
}

button:active {
  top:3px;
  box-shadow: inset 0px 2px 0px 0px #07526e, 0px 3px 3px #999;
}

.iNumber{
	margin-left: 20px;
	margin-right: 10px;
	width: 40px;
}

table {
	border-style: groove;
	border-width: 4px;
	text-align: center;
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

thead {
	color: white;
	text-shadow: 0px 1px 3px black;
	font-size: 1.2em;
	background-image: url(http://ramayoga.org/wp-content/uploads/2015/07/galaxy-wallpapers-10.jpg);
}

th {
	padding: 10px;
}

tbody {
	background-color: #6FFCB1;
}

td {
	padding:10px;
}

#p1,#p2,#p3,#p4,#p5,#p6{
	position: relative;
	text-align: center;
}


tr:nth-child(even) {
    background-color: #70D1FF;
}

#saludo{
	text-align: center;
	color: white;
	text-shadow: 1px 2px 4px black;
	background-color: #00CAD8;
	position: absolute;
	right: 20%;
	width: 25%;
	height: 10%;
	top: 32%;
	border: 3px dotted #2A17B1;
	padding-left: 10px;
	box-shadow: -3px 3px 4px #00F2B1, -4px 4px 5px black;

}

#nombre{
	font-family: liquid;
	position: relative;
	-webkit-text-stroke: 1px black;
	color:#FF6F00;
	font-size: 1.6em;
	display: inline;
	left: .3em;
	top: .3em;
}

#indice {
	font-weight: bold;
	font-size: 20px;
	list-style-type: none;
}

nav {
	background-color: #00CAD8;
	position: absolute;
	width: 25%;
	left:20%;
	top: 35%;
	border: 3px dotted #2A17B1;
	box-shadow: 3px 3px 4px #00F2B1, 4px 4px 5px black;
}


#intro ul{
	border: 1px solid #2A17B1;
	background-color: #00CAD8;
	box-shadow: 0 2px 3px #00F2B1, 0 4px 5px black;
	width: 50%;
	margin-right: 25%;	
	margin-left: 25%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#p5num, #p4num, #p3num {
	margin-right: 40%;
	margin-left: 40%;
	width: 20%;
	margin-bottom: 1%;
	margin-top: 0;
	text-align: center;
}

#opcDado {
	text-align: center;
	list-style-type: none;
}