@font-face{
	font-family: 'liquid';
	src: url(liquid.ttf);
}

@font-face{
	font-family: 'roboto';
	src: url(roboto.ttf);
}

html {
	cursor:url(banana.gif),url(banana.ani),auto;
}

body {
	background-color: #009D91; 
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 18%;
	font-family: 'roboto';
}	


header {
	margin:auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

header::after{
	content: "";
	background-image: url(http://single.agent57.net/resources/headers/header2.jpg);
	background-position: center;
	opacity: .65;
	top: 0;
  	left: 0;
  	bottom: 75%;
  	right: 0;
  	position: absolute;
  	z-index: -1; 
}

#txtHeader {
	text-align: center;
}

#txtHeader h1 {
	font-family:'liquid';
}

footer {		
	background-image: url(http://ramayoga.org/wp-content/uploads/2015/07/galaxy-wallpapers-10.jpg);
}

footer::after{
	content: "";
	background-image: url(http://ramayoga.org/wp-content/uploads/2015/07/galaxy-wallpapers-10.jpg);
	opacity:80%;
	bottom: -500%;
	top: 575%;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}	

.preguntas{
	color: #FF5C00;
}

.preguntas ul{
	color:#4B219E;
	font-style: italic;
}

h1 {
	color:#FF6F00;
	-webkit-text-stroke: 1px black;
}

h2 {
	text-align: center;
	color: #2A17B1;
}